h1 {
    opacity: 0.5;
}
h4 {
    background-color: #800040;
    color:white;
    text-align:center;
    height:50px;
}


#P3 {
    border: 1px solid #ffcce6;
    padding-left:50px; /* move txt 50px from left, inside the border */
    margin: 40px;   /*By defualt top,buttom ,right and left*/
}

/* Change color of link*/
a:link { color:green;} // Not been touch
a:visited {color: red;} // after clicked
a:hover { color:yellowgreen;} //move mouse to the link
a:active {color: yellow;text-decoration: underline;} 
